:root {
    --primaria: #FFAEBC;
    --secundaria: #A0E7E5;
    --terciaria: #B4F8C8;
    --clara: #FBE7C6;
    --escura: #2b2b2b;
  }
  
  cite {
    background-color: var(--terciaria);
  }
  
  fieldset,
  .clara {
    background-color: var(--clara);
  }
  h1 {
    background-color: var(--primaria);
  }